<!-- You are inside ng-controller="mainController as main" -->

signup.html {{1 + 1}}

<div class="description-wrapper">
  <h2>This app is so great!</h2>
</div>

<div class="signup-or-login-section-wrapper">
  <h2>Get Started</h2>
  <div class="signup-or-login-form-wrapper">
    <form class="signup-form" action="index.html" method="post">
      <input type="text" name="username" placeholder="username">
      <input type="password" name="password" placeholder="password">
      <input type="button" name="submit" value="Create Account">
    </form>
  </div>
</div>
